.login-form{
    max-width: 427px;	
    border-radius: 5px;
    box-shadow: $boxShadow;
    margin: 40px auto;
    padding: 30px 54px;

    fieldset{
        border: 0;
        padding: 0;
    }

    h2{
        @include fontSize(24px);	
        font-weight: 600;	
        line-height: 33px;
        text-align: center;
    }

    .h2-subtext{
        @include fontSize(16px);	
        font-weight: 300;	
        line-height: 22px;
        text-align: center
    }

    .login-page-links{
        margin-top: 20px;

        .forgot-password-link{
            @include getLink((
                color: #464646,
                hoverColor: $green,
                activeColor: $green
            ));
            @include fontSize(14px);
    
            float: left;
        }
    
        .have-access-code-link{
            @include getLink((
                color: #464646,
                hoverColor: $green,
                activeColor: $green
            ));      
            @include fontSize(14px);
    
            float: right;
        }
    }

    .login-shoutout{
        @include fontSize(14px);

        font-weight: 300;
        line-height: 19px;
        margin-top: 63px;
        padding: 5px 0 5px 74px;
        background: url('#{$_imageDir}PTC_logo_01.png') no-repeat left center;
        background-size: contain;
        clear: both;
        //text-align: left;
    }

    hr{
        background-color: #D8D8D8;	
        height: 1px;
        border: 0;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
        margin: 25px auto;
    }

    p{
        @include fontSize(14px);
        color: #3E3E3E;
        font-size: 14px;	
        font-weight: 300;	
        line-height: 19px;
    }

    .registerLink{
        @include getLink((
            color: $green,
            hoverColor: $green,
            activeColor: $green
        ));
        margin-left: 8px;
    }

    .custom-dropdown{
        @include fontSize(12px);	
        font-weight: 500;	
        line-height: 16px;	
        text-align: center;
        color: #4A4A4A;
        margin: 40px auto;
        border: 0;
    }
}