.full-width-button{
    @include fontSize(18px);
    width: 100%;
    display: inline-block;
    background-color: $green-6;	
    box-shadow: $boxShadow;
    font-weight: 500;	
    line-height: 25px;	
    text-align: center;
    color: $white;
    padding: 14px;
    border: 0;

    
    &:hover, &:active{
        color: $white;
      }
}