.full-width-input{
    width: 100%;
    border: 1px solid #979797;	
    border-radius: 5px;
    padding: 17px 13px;
    margin-bottom: 10px;

    &::placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
        @include fontSize(12px);
        color: #979797;
        font-weight: 300;
        line-height: 16px;
    }
}